<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/queries.css">
    <title>Fitness Tracker</title>
</head>

<body>
    <nav class="main-nav">
        <a class="main-header" href="/">Fitness Tracker</a>
        <div>
            <% if (!currentUser) { %>
                <a href="/login" class="account-control">Login</a>
                <a href="/register" class="account-control">Signup</a>
            <% } else { %>
                <a href="/logout" class="account-control">Logout</a>
            <% } %>
        </div>
    </nav>